.container {
  display: flex;
  gap: 10px;
  padding: 16px;
  margin: 0 auto;
}
.button {
  width: 100px;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: rgb(200, 208, 215);
}
